body {
  background-color: #F4F7FB;
}

.navbar {
  background-color: #3023AE !important;
  margin-bottom: 40px;
}

.btn-primary {
  background: #9013FE;
  border: 0;
}

a {
  color: #152935;
}

#sidebar .card {
  background: #FFFFFF;
  box-shadow: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 15px;
}

#sidebar .card img {
  width: 128px;
  margin: 0 auto;
  margin-top: 20px;
}

#sidebar .card-body {
  flex: inherit;
}

#sidebar .list-group-item {
  border: none;
  padding: .5rem 1.25rem;
}

#content {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0;
  border-radius: 0;
  border: none;
}

.card {
  /* Rectangle 2: */
  background: #FFFFFF;
  border: 1px solid rgba(21,41,53,0.09);
  border-radius: 4px;
}

.product-card .card-body {
  padding: 0.5rem 1rem;
}

.product-card .card-footer {
  background-color: transparent;
  border: none;
  padding: 0rem 1.25rem 0.5rem 1.25rem;
}

.btn-heart {
  background-color: #fff;
  border: 1px solid rgba(21,41,53,0.09);
  border-radius: 2px;
  color: red;
}

.btn-cart {
  background: #FF8C00;
  border-radius: 2px;
  color: #fff;
}

.btn-more {
  width: 18%;
  background-color: #fff;
  border: 1px solid rgba(21,41,53,0.09);
  border-radius: 2px;
  color: grey;
}

.product-card .btn-group {
  width: 30%;
}

.btn-heart.dropdown-toggle::after, .btn-cart.dropdown-toggle::after, .btn-more.dropdown-toggle::after {
  content: none;
}

.btn-taste i {
  color: #FF8C00;
}

.nav-icon {
  color: #fff !important;
  font-size: 24px;
  padding: 0;
}

form.search-page {
  padding: 15px;
}

.search-page label {
  font-weight: bold;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/hero.png") center center no-repeat;
  background-size: cover;
}

.jumbotron:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#f7f8f9e0,#f3f3f3db);
  opacity: .6;
}

.jumbotron .container {
  z-index: 10;
  position: relative;
}

.btn-secondary {
  background-color: #FF8C00;
  border: 0;
}

.jumbotron-heading {
  font-size: 24px;
}

.jumbotron .container {
  text-align: right;
}

.jumbotron {
  padding: 12rem 2rem;
}

.card-img-bg {
  background: url("https://picsum.photos/285/190") no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: 190px;
}

.card-img-bg .card-title {
  margin-top: 60px;
}

.display-1 {
  font-weight: bold;
  font-size: 200px;
  color: #00A68F;
}

.display-2 {
  font-weight: bold;
  font-size: 100px;
  color: #00A68F;
}

.card-catalogo .list-inline-item {
  margin-bottom: 15px;
}

.card-taste {
  width: 20rem;
  margin: 0 auto;
}

.card-taste .card-body {
  height: 170px;
}

.btn-odio {
  background-color: #9B9B9B;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 29px;
  color: #152935;
  position: absolute;
  left: -40px;
  bottom: 0px;
}

.btn-amo {
  background-color: #9013FE;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 29px;
  color: #fff;
  position: absolute;
  right: -40px;
  bottom: 0px;
}

.btn-indiferente {
  background-color: #D8D8D8;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 39px;
  color: #152935;
  position: absolute;
  left: 30px;
  margin-top: 45px;
  bottom: -50px;
}

.btn-gusta {
  background-color: #FF8C00;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 39px;
  color: #fff;
  position: absolute;
  right: 50px;
  margin-top: 45px;
  bottom: -50px;
}

#login-signup {
  background: url("../img/bg.png") repeat;
  -webkit-animation: move 25s linear infinite;
}

#login-signup .card {
  width: 24rem;
  margin: 0 auto;
}

@-webkit-keyframes move {
    from { background-position: 0 0; }
    to { background-position: 0 400px; }
}

p.or {
  font-weight: bold;
  text-transform: uppercase;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-card {
  background-color: #F0F2F5;
}

.user-card .card-img-top {
  width: 128px;
  margin: 0 auto;
  height: 128px;
  border-radius: 64px;
  margin-top: 30px;
}

.user-card .card-title {
  text-align: center;
}

.user-card a {
  color: #152935;
}

#content .breadcrumb {
  padding: 0;
  background-color: #fff;
  font-size: 1.25rem;
}

footer {
  background-color: #491775;
  padding: 50px 0;
  color: #fff;
  margin-top: 50px;
}

footer a {
  color: #9993a0 ;
}

.list-card {
  padding: 10px;
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 576px) {
  .btn-odio {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    padding-top: 18px;
    left: 0px;
  }

  .btn-indiferente {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    padding-top: 33px;
    left: 45px;
    margin-top: 45px;
  }

  .btn-gusta {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    padding-top: 33px;
    right: 65px;
    margin-top: 45px;
  }

  .btn-amo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    padding-top: 18px;
    right: 0px;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .card-taste {
    width: 26rem;
    margin: 0 auto;
  }

  .card-taste .card-body {
    height: 170px;
  }

  .btn-odio {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    text-align: center;
    padding-top: 47px;
    left: -60px;
  }

  .btn-indiferente {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    padding-top: 58px;
    left: 40px;
    margin-top: 45px;
  }

  .btn-gusta {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    padding-top: 58px;
    right: 60px;
    margin-top: 45px;
  }

  .btn-amo {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    padding-top: 47px;
    position: absolute;
    right: -60px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #sidebar .card  {
    height: 600px;
  }

  .navbar .input-group {
    margin-left: 57px;
    width: 500px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}